/*  SlidesJS Optional: If you'd like to use this design  */

    body {
      -webkit-font-smoothing: antialiased;
      /*font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
      /*color: #232525;*/
      /*padding-top:70px;*/
    }

    #slides,#slides2,#slides3,
    #slides4,#slides5,#slides6 {
      display: none;
      /* margin-bottom:50px; this gets in way of footer?*/
    }
    #slides .slidesjs-container {
      width:100%; /*100%*/; bXorder:1px solid red;z-index:100;
      position: relative; left:0px; toXp:270px; display:block; }
    #slides .slidesjs-navigation {
      position:absolute;
      width:100%;
      z-index:999;
    }
    #slides {
     /*need better solve*/
     mXargin-bottom:35px;
    }
    #slides ul.slidesjs-pagination {
      display:none !important;
      top:-1000px;}
    .slidesjs-navigation {
      display: block /*none*/ ;
    }
    .slidesjs-stop, .slidesjs-play {display:none !important;}
    .slidesjs-previous {
      /* left: 40%; */
      margin-left: 5px;
      float: left;
      display: none !important;
      left:0;
      position:relative;
      width:50%;
      boXrder:1px solid red;
    }
    .slidesjs-next {
      text-align:center /* right */ ;
      display:block;
      position:relative;
      boXrder:1px solid red;
      width:100%;
      height:100%;
      /* left: 50%; */

      background-image: url('../img/next.png');
      background-position: center right;
      background-repeat: no-repeat;
      float: left;
      top:0;
      text-indent:-9999px;
      padding-top:5px;
      font-size:1em;
      text-transform: uppercase;
      right:0;
    }

    .slidesjs-pagination {
      position: absolute;
      bottom: -20px;
      text-align: center;
      padding-left: 10px;
      padding-top: 10px;
      right: 0;
      list-style: none;
      /*background-color: #efefef;*/
      width: 100%;
      z-index: 101;
      /*
      display: block;
      */
    }

    .slidesjs-pagination li {
      float: left;
    }

    .slidesjs-container {width:100%;}
    .slidesjs-control {
      width:100%;
    }
    #slides2 div, #slides3 .slidesjs-control {
      max-height: 500px;
    }
    .slidesjs-pagination li a {
      display: -moz-inline-stack; /* for Firefox */
      display: inline-block;
      /*width: 22px;
      height: 22px;*/
      background: url(../img/pagination.png) no-repeat;
      background-size: 33.3333%;
      text-indent: -9999px;
      border: 0;
      cursor: pointer;
      margin: 0 5px 5px 0;
      width: 35px;
      height: 11px;
      background-position: 0 0;
      overflow: hidden;

      /*display: block;
      padding-top: 13px;
      background-image: url('../img/pagination.png');
*/
    }
    .slidesjs-pagination a.current {
      background-position: 0 -22px;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -11px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -22px
    }
    .slidesjs-slide {background-position:center top; display:block; top:0; margin:0;}

    #slides a:link,#slides2 a:link,#slides3 a:link,
    #slides4 a:link,#slides5 a:link,#slides6 a:link,
    #slides a:visited,#slides2 a:visited,#slides3 a:visited,
    #slides4 a:visited,#slides5 a:visited,#slides6 a:visited {
      color: #333
    }

    #slides a:hover,#slides2 a:hover,#slides3 a:hover,
    #slides4 a:hover,#slides5 a:hover,#slides6 a:hover,
    #slides a:active,#slides2 a:active,#slides3 a:active,
    #slides4 a:active,#slides5 a:active,#slides6 a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }


/*  SlidesJS Required: These styles are required if you'd like a responsive slideshow */

    #slides,#slides2,#slides3,
    #slides4,#slides5,#slides6
     {
      display: none
    }
    .container {
      width:100%;
      margin:0 auto;
      float:none;
    }
    .slidesPrimary div {
     max-widthX: 800px;
	/* this can be written in based on images() maybe */
    }
    .container div {
	   margin:0 auto;
     height: 100%; /* justin - this was causing no show */
    }
    .slidesSecondary {
	      min-heightX: 400px;
    }
    .slidesSecondary div {
        max-heightX:600px; background-position: top center;
    }
    .slidesSecondary .slidesjs-slide {
	    Xbackground-size: 90% !important;
    }

 /* Small Displays: 768px and under */
@media only screen and (max-width: 767px) {

    .slidesjs-next {
      display:none; /* so you scan swipe on phone */
    }

.slidesSecondary,.slidesjs-pagination {
	/* background-color:#FFF;*/
}
.slidesjs-pagination {
	position: inherit;
}
.slidesSecondary .slidesjs-slide {
	background-size:100%
}
}
